name: Create file and commit
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          # The token is required to push changes back to the repository
          token: ${{ secrets.GITHUB_TOKEN }} 

      - name: Remove lines
        # The 'run' keyword executes shell commands
        run: |
          # Define a shell variable for clarity
          SERVICE_VERSION=$(git rev-parse --short HEAD)

          # Download latest working version
          curl --output early-init.el "https://raw.githubusercontent.com/jamescherti/minimal-emacs.d/refs/heads/main/early-init.el"
          curl --output init.el "https://raw.githubusercontent.com/jamescherti/minimal-emacs.d/refs/heads/main/init.el"
          
          # Use sed to replace the placeholder
          # -i flag for inline editing
          # 's|...|...|g' is the substitution syntax. We use '|' as delimiter to avoid escaping '/' in URLs/paths
          # Note: The -i flag's behavior can differ slightly between GNU sed (Linux) and BSD sed (macOS).
          # On Linux, `sed -i` works. On macOS, you might need `sed -i ''`. Ubuntu runners are Linux.
          # 1,21d: initial comment block from lexical-binding to ';;; Code:'
          # 135,146d: defun minimal-emacs-load-user-init + invocation
          # 457d: minimal-emacs-load-user-init invoked
          sed -i "1,21d;135,146d;457d" early-init.el
          
          # 1,22d: Initial comment block including lexical binding up to ';;; Code:'
          # 24,27d: minimal-emacs-load-user-init invoked
          # 565,567d: minimal-emacs-load-user-init invoked
          sed -i "1,22d;24,27d;565,567d" init.el

      - name: Add, commit, and push
        # You may pin to the exact commit or the version.
        # uses: actions4git/add-commit-push@2119cc12fc9e451198b0d1c27fbae6fd1b134135
        uses: actions4git/add-commit-push@v1.0.0
